@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

/* blog previews / list */

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
}
.blog-preview a {
  text-decoration: none;
}

.homeFooter {
  position: absolute;
  top: 93.5%;
  width: 100%;
}

.homeFooter a {
  color: inherit;
  text-decoration: none;
}
